In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [3]:
df = pd.read_csv(url, '\t')
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [4]:
chipo = df
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [5]:
chipo.shape

(4622, 5)

In [6]:
 chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [7]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [9]:
popular_item = chipo.groupby(['item_name']).agg({'quantity':'sum'})
# the [] gives a data frame result
popular_item.sort_values('quantity', ascending=False)[:5]

                     quantity
item_name
Chicken Bowl              761
Chicken Burrito           591
Chips and Guacamole       506
Steak Burrito             386
Canned Soft Drink         351

In [10]:
chipo.item_name.value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Veggie Salad                               6
Burrito                                    6
Carnitas Salad Bowl                        6
Steak Salad                                4
Crispy Tacos                               2
Bowl                                       2
Salad                                      2
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Chips and Mild Fresh Tomato Salsa          1
Name: item_name, dtype: int64

In [11]:
chipo.choice_description.value_counts()

[Diet Coke]                                                                                            134
[Coke]                                                                                                 123
[Sprite]                                                                                                77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                  42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                       40
                                                                                                      ...
[Tomatillo Green Chili Salsa, [Fajita Vegetables, Rice, Black Beans, Guacamole, Lettuce]]                1
[Roasted Chili Corn Salsa (Medium), [Black Beans, Cheese, Sour Cream, Lettuce]]                          1
[Tomatillo-Red Chili Salsa (Hot), [Pinto Beans, Rice, Fajita Veggies, Cheese, Sour Cream, Lettuce]]      1
[Tomatillo Green Chili Salsa, [Rice, Sour Cream, Cheese, Lettuce]]                                       1
[Roasted Chili Corn Salsa, [Pinto Beans, Cheese, Sour Cream, Lettuce]]                                   1
Name: choice_description, Length: 1043, dtype: int64

In [12]:
choice_item = chipo.groupby(['choice_description']).agg({'quantity':'sum'})
# the [] gives a data frame result
choice_item.sort_values('quantity', ascending=False)[:5]

                                                    quantity
choice_description
[Diet Coke]                                              159
[Coke]                                                   143
[Sprite]                                                  89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        42

In [13]:
chipo.quantity.sum()

4972

In [17]:
 chipo['item_price'] = pd.to_numeric(chipo['item_price'])

In [15]:
chipo['item_price'] = chipo.item_price.str.slice(1).astype(float)

In [19]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [24]:
lam = lambda x:  float(x[1:])
chipo.item_price.apply(lam)[:5]

TypeError: 'float' object is not subscriptable

In [25]:
chipo['item_price'].sum()

34500.16

In [31]:
chipo.shape

(4622, 5)

In [26]:
chipo['quantity'].sum()

4972

In [32]:
avg = chipo['item_price'].sum()/chipo['quantity'].shape
avg

array([7.46433579])

In [33]:
avg2 = chipo['item_price'].mean()
avg2

7.464335785374397

In [34]:
chipo['item_name'].nunique()

50